body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: red;
    background-color: black;
    /*font-family: 'Reporter-Two';*/
    font-family: sans-serif;
}

.fotobox-container {
    background-color: black;
    background-image: url(/nice2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.fotobox-clear {
    height: 85%;
}

.fotobox-footer {
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5);
}

    .fotobox-footer h1 {
        font-size: 40px; /* 40px because save/delete text is too big */
        line-height: 15vh;
        margin: 0;
    }
