body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: red;
    background-color: black;
    font-family: 'Reporter-Two';
}

.fotobox-container {
    background-color: black;
    background-image: url(/c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.fotobox-clear {
    height: 85%;
}

.fotobox-footer {
    height: 15%;
    background-color: rgba(255, 255, 255, 0.4);
}

    .fotobox-footer h1 {
        font-size: 50px;
        margin: 0;
    }
