body {
    font-family: sans-serif;
    margin: 0;
}

#countdown {
    display: block;
    margin: 0 auto;
    font-size: 50px;
}

#capture {
    display: block;
    margin: auto auto;
}

#picture {
    height: 100%;
    margin: 0 auto;
}
