
<div class="fotobox-container">
    <img id="picture" alt="Fotobox Foto" src="~/nice2.jpg" style="opacity: 0.05;"/>
    <h1>Buzzer drücken um Foto zu machen.</h1>
</div>
<div class="fotobox-buttons">
    <h2 id="save">Speichern</h2>
    <h2 id="delete">Löschen</h2>
</div>